/******** 1 VARIABLES ****/
// Variables utilizadas
$color_1: #356618;
$color_2: #66a143;
$color_3: #f0f2c9;
$color_4: #1b330c;
$color_5: #e3e699;
$color_6: #ffffff;
$color_7: #836145;
$color_8: #4b4b4b;
$color_9: #818181;
$color_10: #4b4b4f;
$color_11: #8c8c8c;
$font1: Arial, Helvetica, sans-serif;
$font2: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font3: "Lucida Sans Unicode", "Lucida Grande", sans-serif;